<!-- Content Column -->
<div class="col-lg-12 mb-4">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Días sin accidentes desde el ultimo lanzamiento</h6>
        </div>
        <div class="card-body">
            <h1>{{counter}}</h1>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-12  mb-4 ">

        <div class="card shadow mb-8">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Sitios de lanzamientos</h6>
            </div>
            <div>
                <agm-map [latitude]="4.66602" [longitude]="-74.058336" [zoom]="1">
                    <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng">
                        <agm-info-window>
                            <strong>{{marcador.titulo}}</strong>
                            <p>{{marcador.desc}}</p>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>