<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-2 mt-5">

        <div class="card shadow mb-12 row ">
            <div class="card-header py-3">
                <h1 class="m-0 font-weight-bold text-primary">Bienvenido a SpaceX Launches</h1>
            </div>
            <div class="card-body">
                <h2 class="small font-weight-bold">Por favor selecciona un tipo de cohete para ver sus cacteristicas</h2>
            </div>
        </div>
    </div>
    <div>

        <div class="col-md-12 align-items-start">

            <div class="align-items-start text-center">
                <img class="mr-5" src="../../../assets/img/post.png" alt="Smiley face" height="50%" width="50%">
            </div>
        </div>
        <div>


        </div>